<p id="notice"><%= notice %></p>

<p>
  <b>Employee name:</b>
  <%= @expense_report.Employee_Name %>
</p>

<p>
  <b>Division:</b>
  <%= @expense_report.Division %>
</p>

<p>
  <b>Department:</b>
  <%= @expense_report.Department %>
</p>

<p>
  <b>From:</b>
  <%= @expense_report.From %>
</p>

<p>
  <b>To:</b>
  <%= @expense_report.To %>
</p>

<p>
  <b>Business purpose:</b>
  <%= @expense_report.Business_Purpose %>
</p>

<p>
  <b>Date:</b>
  <%= @expense_report.Date %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense_report.Amount %>
</p>

<p>
  <b>Airfare:</b>
  <%= @expense_report.Airfare %>
</p>

<p>
  <b>Taxitransportation:</b>
  <%= @expense_report.TaxiTransportation %>
</p>

<p>
  <b>Tollsparking:</b>
  <%= @expense_report.TollsParking %>
</p>

<p>
  <b>Car rental:</b>
  <%= @expense_report.Car_Rental %>
</p>

<p>
  <b>Gas:</b>
  <%= @expense_report.Gas %>
</p>

<p>
  <b>Hotel:</b>
  <%= @expense_report.Hotel %>
</p>

<p>
  <b>Other:</b>
  <%= @expense_report.Other %>
</p>

<p>
  <b>Breakfast:</b>
  <%= @expense_report.Breakfast %>
</p>

<p>
  <b>Lunch:</b>
  <%= @expense_report.Lunch %>
</p>

<p>
  <b>Dinner:</b>
  <%= @expense_report.Dinner %>
</p>

<p>
  <b>Business meals:</b>
  <%= @expense_report.Business_Meals %>
</p>

<p>
  <b>Entertainment:</b>
  <%= @expense_report.Entertainment %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @expense_report.Cell_Phone %>
</p>

<p>
  <b>Office phone:</b>
  <%= @expense_report.Office_Phone %>
</p>

<p>
  <b>Postage:</b>
  <%= @expense_report.Postage %>
</p>

<p>
  <b>Office supplies:</b>
  <%= @expense_report.Office_Supplies %>
</p>

<p>
  <b>Competitor products:</b>
  <%= @expense_report.Competitor_Products %>
</p>

<p>
  <b>Date:</b>
  <%= @expense_report.Date %>
</p>

<p>
  <b>Namefirmposition:</b>
  <%= @expense_report.NameFirmPosition %>
</p>

<p>
  <b>Purpose:</b>
  <%= @expense_report.Purpose %>
</p>


<%= link_to 'Edit', edit_expense_report_path(@expense_report) %> |
<%= link_to 'Back', expense_reports_path %>
